extends layout.pug
include utils.pug
block content

    if shelves
        ul
            each shelf in shelves
                li
                    a(href=`/shelves/${shelf.id}`)= shelf.name
    if screeds
        +displayScreeds(screeds)
