extends layout.pug
include utils.pug
block content

    span Shelves
    if shelves
        ul
            each shelf in shelves
                li
                    a(href=`/shelves/${shelf.id}`)= shelf.name
    if allShelfScreeds
        +displayScreeds(allShelfScreeds)
