include utils.pug

input(type='hidden' name='_csrf' value=csrfToken)
+field('Title*', 'title')
br
label(for='author') Author*
input(name='author' list='authors')
datalist(id='authors' name='authors')
    if (authors)
        each author in authors
            option(value=author.name)
    else
        span (no authors yet)

br
+field('Content (paste shorter content like songs, tweets, etc.)', 'text', '', 'textarea')
br
+field('URL (link to longer content like books)', 'url')
br
+field('Image Link', 'imgLink')
br
+field('My Review', 'review', '', 'textarea')
br
fieldset
    div
        input(type="radio" id="read" name="readStatus" value="1" checked)
        label(for="read") Read
    div
        input(type="radio" id="wantToRead" name="readStatus" value="0")
        label(for="wantToRead") Want To Read
br
label(for='shelf') Save this screed to a shelf:
br
if (shelf)
    input(name='shelf' value=shelf.name)
else
    input(name='shelf' list='shelves')
    datalist(id='shelves' name='shelves')
        if (shelves)
            each shelf in shelves
                option(value=shelf.name)
        else
            span (no shelves yet)
    br
