extends layout.pug
include utils.pug
block content
    +validationErrorSummary(errors)
    h1= shelf.name
    h2 Screeds
    +displayScreeds(shelfScreeds)

    a(href=`/shelves/${shelf.id}/edit`) Edit
    a(href='/') Back
